.App {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 27px 0;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.containerComponent {
    width: 100%;
    max-width: 1132px;
    margin: 0 auto;
}

.pb28{
    padding-bottom: 28px;
}

.mb {
    margin-bottom: 86px;
}

.ant-collapse-header {
    display: flex !important;
    align-items: center !important;
}